.section-news {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-new-left {

  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  .foto-section {
    flex: .3;
    width: 8rem;
    /*padding: 1rem; */
    display: flex;
    justify-content: center;
    
    
    & img {
      width: 100%;
      object-fit:cover; 
    }
  }

  .text-section {
    flex: .7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    gap: 2rem;

    
  }

}

.section-new-right {

  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;

  .foto-section {
    flex: .3;
    width: .8rem;
    /*padding: 1rem; */
    display: flex;
    justify-content: center;
    
    
    & img {
      width: 90%;
      object-fit: fill; 
    }
  }

  .text-section {
    flex: .7;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;

    
  }

}

.card-event{
  border-radius: .5rem;
  background-color:blanchedalmond;
  gap: 1rem
  

}
.section-events {
  padding: 0 1rem .5rem;
  border: .5rem;
  border-radius: 1.5rem;
  gap: 2rem;
  background-color:blanchedalmond;


  & h2 {
    text-align: center;
    gap: 5rem;
    
  }

  
  & h3 {
    text-align: center;
    gap: 2rem;
  }

  
  & h5 {
    text-align:left;
    gap: 2rem;
  }

  
  & h6 {
    text-align:left
  }

  & p {
    text-align: left;
    width: 70%;
    height: 30%;
  }

  .card-event {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
    .title {
      font-size: 1.2em;
    }
  }
}

.section-galery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 1.5rem;
  border: .5rem;
  background-color: blanchedalmond;
  padding: 0 1rem .5rem;

  

  & h2 {
    text-align: center;
  }

  .card-galery {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 7rem;
    
    & img {
      width: 100%;
      object-fit: fill;
    }

    .title {
      font-size: .7em;
    }
  }
}
