
main.main-container {
  display: grid;
  gap: var(--spacing);
  text-align: left;
}

#galeria img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: var(--spacing) 0.5rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: var(--spacing) 0;
}

footer .social-media a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

footer .social-media a i {
  margin-right: 5px;
}
